/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}



/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}


/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    background-color: var(--bgc);

    line-height: 1.5;
    margin: 0;
    color: #fff;
    font-family: "NAMU-Pro", "Arial", sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;

}



:root {
    --main-text-color: #EAEAEA;
    --p-text-color: #AEAEAE;
    --bgc: #050505;
}

@font-face {
    font-family: "NAMU-Pro";
    font-style: normal;
    font-weight: 900;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("NAMU-Pro");
}

@font-face {
    font-family: "NAMU-1910";
    font-style: normal;
    font-weight: 500;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("NAMU-1910");
}

@font-face {
    font-family: "NAMU-1750";
    font-style: normal;
    font-weight: 300;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("NAMU-1750");
}



/* Стили текстов */
.h2-text {
    color: var(--main-text-color);
    font-size: 86px;
    line-height: 103px;
    text-align: center;
}

.h3-text {
    color: var(--main-text-color);
    font-size: 40px;
    line-height: 150%;
}

.p-text {
    color: var(--p-text-color);
    font-family: 'NAMU-1750';
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0.01em;
    font-weight: 300;
}

.style-text {
    font-family: 'NAMU-1910';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0.29em;
}

.list__item-accent {
    color: #FFA7A7;
}

/* Другое */
.container {
    width: 1200px;
    margin: 0 auto;
}
.carousel-mb{
    margin-bottom: 200px;
}
.carousel {
    display: flex;
    justify-content: flex-end;
}

.carousel__wrapper {
    width: 920px;
    height: 600px;
    background-color: var(--p-text-color);

}

.p-text__wrapper {
    width: calc(100% - 28px);
    max-width: 840px;
    margin-left: 40px;
}


/* Видео */
.video__wrapper {}

/* Свайпер */
.video__item {}

/* Отступы */

.descktop-mb {
    margin-bottom: 110px;
}

.s3-tizhden {
    padding-bottom: 80px;
}

.padding-top {
    padding-top: 200px;
}

.list__item {
    margin-bottom: 24px;
}

.list__item:last-child {
    margin-bottom: 0;
}


.h3-mb {
    margin-bottom: 40px;
}


.video__item-mb {
    margin-bottom: 70px;
}

/* Section Treni Press */

.ul__before li::before {
    content: url(./img/bullet.svg);
    margin-right: 10px;
}